html, body {
  height: 100%;
  width: 100%;
}

/* header */

.header {
  position: relative;
  margin-bottom: 20px;
  z-index: 4;
}

.navbar {
  margin-bottom: 0;
}

.navbar-brand {
  padding-top: 10px;
}

.logo {
  width: 80px;
}

.user-preview .dropdown-toggle {
  height: 64px;
}

.avatar {
  border-radius: 50%;
  display: inline-block;
  position: relative;
  margin-right: 10px;
  height: 30px;
  width: 30px;
  overflow: hidden;
  vertical-align: middle;
}

.avatar img {
  height: 30px;
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}

.navbar-info {
  background-color: #eeeeee;
  height: 20px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);;
}

/* login */

.login-form {
  background-color: #fff;
  max-width: 330px;
  margin: 0 auto;
  padding: 40px 20px;
  text-align: center;
}

.modal-login .btn img {
  width: 40px;
  float: left;
}

.modal-login .btn span {
  line-height: 40px;
}

.facebook {
  background-color: #22407F;
}

.facebook:hover, .facebook:active {
  background-color: #092766;
}

.twitter {
  background-color: #3cf;
}

.twitter:hover, .twitter:active {
  background-color: #00b9ed;
}

.google {
  background-color: #dd4b39;
}

.google:hover, .google:active {
  background-color: #C43220;
}

.login-form .info {
  margin-bottom: 10px;
  text-align: center;
}

/* main */

h1 {
  color: #0a6ebd;
  font-size: 15px;
  font-weight: bold;
}

.content h1 {
  display: inline-block;
  margin: 0;
}

p {
  margin-bottom: 3px;
}

.mandatory {
  color: #f00;
}

.filter .control-label {
  text-align: left;
  padding-left: 0;
}

input.form-control {
  padding-left: 3px !important;
}

input.form-control, select.form-control {
  font-size: 14px !important;
}

::-webkit-input-placeholder {
  color:    #666 !important;
}
:-moz-placeholder {
  color:    #666 !important;
}
::-moz-placeholder {
  color:    #666 !important;
}
:-ms-input-placeholder {
  color:    #666 !important;
}

.map-dialog {
  background: #fff;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  box-shadow: 0 1px 4px rgba(0,0,0,0.3);
}

.map-dialog:hover {
  background-color: #eee;
}

.map-dialog .close {
  font-size: 12px;
  margin-left: 10px;
}

.map-wrapper {
  position: absolute;
  top: 64px;
  left:0;
  bottom: 0;
  width: 100%;
  z-index: 2;
}

#map {
  height: 100%;
  min-height: 400px;
}

#map p {
  margin-bottom: 0;
}

.angular-google-map-container {
  height: 100%;
}

.content {
  position: relative;
  margin-left: 10px;
  max-width: 450px;
  max-height: 420px;
  overflow-y: auto;
  z-index: 3;
}

.panel-default {
  min-height: 37px;
}

.panel-heading {
  padding: 0;
}

.accordion-toggle {
  padding: 10px 15px;
}

.panel-default .panel-heading {
  background-color: #fff;
  cursor: pointer;
}

.panel-heading .glyphicon {
  margin-right: 5px;
}

.panel-title a {
  display: block;
}

.panel-title a:hover, .panel-title a:focus, .panel-title a:active {
  text-decoration: none;
}

.panel-body {
  border-top: none !important;
  padding-left: 40px;
}

.radio {
  margin-right: 10px;
}

.vasup {
  vertical-align: top;
  font-size: 10px;
  margin-left: 3px;
}

.pilots-list .panel {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #e0e0e0;
}

.pilots-list .accordion-toggle {
  padding-left: 0;
}

.pilots-list .panel-body {
  padding: 5px 20px;
}

.button-group {
  font-size: 13px;
}

.radio {
  display: inline-block;
}

.title {
  position: relative;
}
.title p {
  margin: 5px 20px 0;
}

/* profile */

.profile .tab-pane {
  margin-top: 20px;
}

/* pin locations */

.places td {
  vertical-align: middle !important;
}

.places .add {
  vertical-align: bottom !important;
}

/* about */

.about h1 {
  margin-left: 15px;
}

.about .photo {
  text-align: center;
}

@media (max-width: 1000px) {
  .content {
    width: 90%;
    max-width: 90%;
    max-height: none;
    margin: 20px auto;
  }
  .map-wrapper  {
    position: relative;
    top: 0;
  }
}


