html, body {
  height: 100%;
  width: 100%;
}

body {
 background-color: #eeeeee;
}

/* header */

.header {
  position: relative;
  z-index: 9999;
}

.navbar-brand {
  padding-top: 10px;
}

.logo {
  width: 80px;
}

/* main */

h1 {
  color: #0a6ebd;
  font-size: 15px;
  font-weight: bold;
  display: inline-block;
  margin: 0;
}

p {
  margin-bottom: 3px;
}

.mandatory {
  color: #f00;
}

.form-horizontal .control-label {
  text-align: left;
  padding-left: 0;
}

input.form-control {
  padding-left: 3px !important;
}

input.form-control, select.form-control {
  font-size: 14px !important;
}

::-webkit-input-placeholder {
  color:    #666 !important;
}
:-moz-placeholder {
  color:    #666 !important;
}
::-moz-placeholder {
  color:    #666 !important;
}
:-ms-input-placeholder {
  color:    #666 !important;
}

.map-dialog {
  background: #fff;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  box-shadow: 0 1px 4px rgba(0,0,0,0.3);
}

.map-dialog:hover {
  background-color: #eee;
}

.map-dialog .close {
  font-size: 12px;
  margin-left: 10px;
}

.map-wrapper {
  position: absolute;
  top: 64px;
  left:0;
  bottom: 0;
  width: 100%;
  z-index: 2;
}

#map {
  height: 100%;
  min-height: 400px;
}

#map p {
  margin-bottom: 0;
}

.angular-google-map-container {
  height: 100%;
}

.content {
  position: relative;
  margin-left: 10px;
  max-width: 450px;
  max-height: 420px;
  overflow-y: auto;
  z-index: 3;
}

.panel-default {
  min-height: 37px;
}

.panel-heading {
  padding: 0;
}

.accordion-toggle {
  padding: 10px 15px;
}

.panel-default .panel-heading {
  background-color: #fff;
  cursor: pointer;
}

.panel-heading .glyphicon {
  margin-right: 5px;
}

.panel-title a {
  display: block;
}

.panel-title a:hover, .panel-title a:focus, .panel-title a:active {
  text-decoration: none;
}

.panel-body {
  border-top: none !important;
  padding-left: 40px;
}

.radio {
  margin-right: 10px;
}

.vasup {
  vertical-align: top;
  font-size: 10px;
  margin-left: 3px;
}

.pilots-list .panel {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #e0e0e0;
}

.pilots-list .accordion-toggle {
  padding-left: 0;
}

.pilots-list .panel-body {
  padding: 5px 20px;
}

.button-group {
  font-size: 13px;
}

.radio {
  display: inline-block;
}

.title {
  position: relative;
}
.title p {
  margin: 5px 20px 0;
}

@media (max-width: 1000px) {
  .content {
    width: 90%;
    max-width: 90%;
    max-height: none;
    margin: 20px auto;
  }
  .map-wrapper  {
    position: relative;
    top: 0;
  }
}


