<div class="container">
  <div class="row about">
    <div class="col-md-10 col-md-offset-1">
      <h1>ABOUT</h1>
      <div class="col-md-6 col-sm-6">
        <p>&nbsp;My name is Allon Jacobs and I live in sunny California. &nbsp;I attribute my flying addiction to my dad who let me ride along as he was doing unusual attitudes in a Cessna 210 over Los Angeles. &nbsp;As soon as I saw that untied flight bag float above my head as the negative G's were hitting, I was hooked. &nbsp;Fast forward a few decades and my 22 year old self poured every last cent of my summer construction job income into flight lessons at the University of California, Davis. &nbsp;Sound familiar?</p>
        <p>Recently, I realized when traveling domestically and internationally that I was having difficulty finding other pilots to speak with and share flying adventures with. &nbsp;That's what sparked the idea to create a community where people could first find one another and then connect.</p>
        <p>So if you haven't already, add your name to the <a href="#/pilots">pilots</a> map, and let's see what happens.</p>
      </div>
      <div class="col-md-6 col-sm-6 photo">
        <img src="images/about.jpg"/>
      </div>
    </div>

  </div>

</div>
