<div class='row'>
  <div class='col-md-5 content'>
    <div class='row'>
      <div class='col-md-12'>
        <accordion close-others="onePanelAtATime">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title title">
                <a href="" class="accordion-toggle">
                  <span class="glyphicon glyphicon-info-sign pull-left" aria-hidden="true"></span>
                  <h1>DEFYING GRAVITY</h1>
                  <p>Connect and fly</p>
                </a>
              </h4>
            </div>
          </div>
          <accordion-group is-open="isFirstPanelOpen">
            <accordion-heading>
              <span class="glyphicon glyphicon-search pull-left" aria-hidden="true"></span>
              SEARCH
            </accordion-heading>
            <div class='search panel-content' ng-controller="SearchController">
              <form name='search'>
                <div class='form-group'>
                  <input type='text' class='form-control' placeholder='Address' ng-model="searchParams.searchAddress"
                         ng-autocomplete options=searchParams.searchAddressOptions details=searchParams.searchAddressDetails>
                </div>

                <div class='form-group'>
                  <select class='form-control' ng-model="searchParams.searchAreaRadius"
                          ng-options="searchArea.valueInMeters as searchArea.name for searchArea in areasOfSearch">
                  </select>
                </div>

                <div class='pull-right button-group'>
                  <button type='button' class='btn btn-default' ng-click="reset()">RESET</button>
                  <button type='button' class='btn btn-primary' ng-disabled="isSearchButtonDisabled()" ng-click="searchPilots(searchAddressDetails)">SEARCH</button>
                </div>

              </form>
            </div>
          </accordion-group>

          <accordion-group>
            <accordion-heading>
              <span class="glyphicon glyphicon-filter"></span>                         FILTER
            </accordion-heading>
            <div class='filter panel-content' ng-controller="FilterController">
              <form class="form-horizontal">
                <div class="form-group">
                  <div class="radio">
                    <label class='radio'><input type='radio' ng-model="type" ng-value="" value="">All</label>
                  </div>
                  <div class="radio">
                    <label><input type='radio' ng-model="type" ng-value="types.PERSONAL">Personal</label>
                  </div>
                  <div class="radio">
                    <label class='radio'><input type='radio' ng-model="type" ng-value="types.BUSINESS">Business</label>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-3 control-label" for="filter-category">Aircraft category</label>
                  <div class="col-md-9">
                    <select class="form-control" id="filter-category" ng-model="category" ng-options="category for category in aircraftCategories">
                      <option value=""></option>
                    </select>
                  </div>
                </div>
                <div class="pull-right button-group">
                  <button type="button" class="btn btn-default" ng-click="reset()">RESET</button>
                </div>
              </form>
            </div>
          </accordion-group>

          <accordion-group is-disabled="isPilotsListDisabled()">
            <accordion-heading>
              <span class="glyphicon glyphicon-align-justify"></span>
              SHOW LIST
              <div class="pull-right" ng-if="pilotsLoaded">{{getPilotsCountMessage()}}</div>
            </accordion-heading>
            <div class="pilots-list panel-content">
              <accordion>
                <accordion-group ng-repeat="(id, user) in users" is-open="open">
                  <accordion-heading>
                    <span class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': open, 'glyphicon-chevron-right': !open}"></span>
                    {{user.profile.name}}
                  </accordion-heading>
                  <div>
                    <p><b>Type:</b> {{user.profile.type}}</p>
                    <p ng-if="user.profile.ratings"><b>Ratings:</b> {{user.profile.ratings}}</p>
                    <p ng-if="user.profile.category"><b>Category:</b> {{user.profile.category}}</p>
                    <p ng-if="user.profile.information"><b>Additional information:</b> {{user.profile.information}}</p>
                    <p ng-if="user.profile.email"><b>Email:</b> <a href="mailto:{{user.profile.email}}">{{user.profile.email}}</a></p>
                    <p ng-if="user.profile.phone"><b>Phone:</b> <a href="skype:{{user.profile.phone}}?call">{{user.profile.phone}}</a></p>
                    <p ng-if="user.profile.skype"><b>Skype:</b> <a href="skype:{{user.profile.skype}}?call">{{user.profile.skype}}</a></p>
                    <p ng-if="user.profile.facebook"><b>Facebook:</b>{{user.profile.facebook}}</></p>
                    <p ng-if="user.profile.twitter"><b>Twitter:</b> {{user.profile.twitter}}</p>
                    <p ng-if="user.profile.instagram"><b>Instagram:</b> {{user.profile.instagram}}</p>
                      <p><b>Places:</b></p>
                      <ul>
                        <li ng-repeat="place in user.places">
                          {{place.location}}
                        </li>
                      </ul>
                    <a ng-href=#/messages/{{user.id}}>SEND MESSAGE</a>
                  </div>
                </accordion-group>
              </accordion>
            </div>
          </accordion-group>
        </accordion>
      </div>
    </div>
  </div>
  <div class="map-wrapper">
    <div id="map"></div>
  </div>
</div>
